/*
!.config/
.config/*
!.config/autostart/
!.config/synapse/
!.config/dconf/user.d/
!.xkb/
!.xmonad/xmonad.hs
!.scripts/
!.background.jpg
!.git.scmbrc
!.gitconfig
!.gitignore
!.scmbrc
!.xinitrc
!.zshrc
!.xsession
!.pam_environment

