Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Sources/
Templates/
Videos/
.ICEauthority
.Xauthority
.*_history
.cache/
.dbus/
.ssh/
.sudo_as_admin_successful
.xmonad/
!.xmonad/xmonad.hs
.xsession-errors*
.zcompdump*
.zsh-update
.pki/
VirtualBox VMs/
.wget-hsts
.vim*
.parallels
.local/share
.config
.bash_logout
.compiz
.lesshst
.bashrc
.local/bin
.dmrc
.profile
.gnome
.mozilla
.npm
.npmrc
.gnupg
.kube
.nv
.nvidia-settings-rc
