Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Sources/
Templates/
Videos/
.ICEauthority
.Xauthority
.*_history
.cache/
.dbus/
.ssh/
.sudo_as_admin_successful
.xinputrc
.xmonad/
!.xmonad/xmonad.hs
.xsession-errors*
.zcompdump*
.zsh-update
.pki/

